<ion-header>
  <ion-navbar>
    <ion-title>Order
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Group By</ion-label>
            <ion-select [(ngModel)]="groupvar" interface="popover">
              <ion-option value="region">Region</ion-option>
              <ion-option value="variety">Variety</ion-option>
              <ion-option value="producer">Producer</ion-option>
              <ion-option value="vintage">Vintage</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Order By</ion-label>
            <ion-select [(ngModel)]="ordervar" interface="popover">
              <ion-option value="unitCost">Unit Cost</ion-option>
              <ion-option value="vintage">Vintage</ion-option>
              <ion-option value="name">Name</ion-option>
              <ion-option value="updatedAt">Recently Updated</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-2>

        </ion-col>
        <ion-col col-6>
          Name</ion-col>
        <ion-col col-2>
          Qty
        </ion-col>
        <ion-col col-2>
          Add
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngFor="let group of op.wineList$ | async | groupBy: groupvar | pairs">
    <ion-row>
      <ion-col col-12>
        <ion-item-divider>{{group[0]}}</ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let product of group[1] | orderBy: ordervar">
      <ion-col col-2>
        <button  ion-button clear icon-only small>
          <ion-icon small name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6> <button ion-item (click)="detail(product.id)">{{product.name}}</button></ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-input type="number" [(ngModel)]="product.qty" name="qty" [ngModelOptions]="{standalone: true}" (ionChange)="saveQty(product.id, product.qty)">
          </ion-input> </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only small (click)="saveQty(product.id, product.qty)">
          <ion-icon small name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <button ion-button block (click)="order()">Order</button>
</ion-footer>




