
<ion-header>
  <ion-navbar>
    <ion-title>Select</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Group By</ion-label>
            <ion-select [(ngModel)]="groupvar" interface="popover">
              <ion-option value="region">Region</ion-option>
              <ion-option value="variety">Variety</ion-option>
              <ion-option value="producer">Producer</ion-option>
              <ion-option value="vintage">Vintage</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Order By</ion-label>
            <ion-select [(ngModel)]="ordervar" interface="popover">
              <ion-option value="unitCost">Unit Cost</ion-option>
              <ion-option value="vintage">Vintage</ion-option>
              <ion-option value="name">Name</ion-option>
              <ion-option value="updatedAt">Recently Updated</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item-group *ngFor="let group of productsList | async | groupBy: groupvar | pairs">
    <ion-item-divider>{{group[0] | ucfirst}}</ion-item-divider>
    <ion-item *ngFor="let product of group[1] | orderBy: ordervar">
      <h2><button ion-item (click)="detail(product.id)">{{product.name}}</button></h2>
      <p>
        <button ion-button outline item-start icon-start (click)="addToList('shortlist', product)">
          <ion-icon name="help"></ion-icon>
          Add to Shortlist
        </button>
        <button ion-button outline item-end icon-end (click)="addToList('winelist', product)">
          Add to Winelist
          <ion-icon name="star"></ion-icon>
        </button>
      </p>
    </ion-item>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="openList('short')">Open Shortlist</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="openList('wine')">Open Winelist</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


